<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Fullstack" src="/fs-logo.png" height="26">
      </a>
    </div>
  </div>
</nav>